.login {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(33, 20, 242);
    background: linear-gradient(90deg, rgba(33, 20, 242, 1) 0%, rgba(55, 55, 196, 0.9149860627844888) 35%, rgba(0, 212, 255, 1) 100%);
}

.login__form {
    margin: 4rem;
}